html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #303133;
}

/*默认滚动条样式*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    min-height: 30px;
    border-radius: 6px;
    margin: 5px;
    background-color: #e0e0e0;
}
::-webkit-scrollbar-thumb:hover {
    background: #cfcfcf;
}

.hidden {
    display: none;
}

.main-body {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.tag-group {
    position: relative;
    min-height: 43px;
    padding-left: 85px;
    margin: 4px 0;
    user-select: none;
}

.group-name {
    position: absolute;
    left: 0px;
    width: 70px;
    padding: 8px 0;
    text-align: center;
    background: #909399;
    color: #fff;
    border-radius: 3px;
}

.tag {
    display: inline-block;
    padding: 5px 14px;
    margin: 2px 10px 10px 0px;
    border: 1px #cdd0d6 solid;
    border-radius: 3px;
    cursor: pointer;
}

.tag:hover {
    background: #f5f7fa;
}

.tag.active {
    background: #66afff;
    border: 1px #66afff solid;
    color: #fff;
    font-weight: bold;
}
.tag.checked {
    background: #dee0e2;
    cursor: auto;
}

.staff-group {
    width: 100%;
    border: 1px #E4E7ED solid;
    margin: 10px 0;
}

.tag-label {
    width: 100%;
    box-sizing: border-box;
    background: #f5f7fa;
    border-bottom: 1px #E4E7ED solid;
    padding: 8px 15px;
    font-size: 15px;
    color: #000;
}

.tag-label.more {
    position: relative;
    padding-right: 76px;
}

.popover {
    color: #303133;
    position: absolute;
    right: 10px;
    transform: translateY(8px);
    z-index: 100;
    padding: 18px 20px;
    background: #fff;
    max-width: 280px;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .15);
}
.arrow::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 35px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-top-width: 0;
    border-color: transparent;
    border-bottom-color: #e4e7ed;
    border-style: solid;
    z-index: 200;
}
.arrow::after {
    content: "";
    position: absolute;
    bottom: -1.4px;
    right: 35px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-top-width: 0;
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: solid;
    z-index: 201;
}

.tag-line {
    padding-top: 12px;
}

.label-tag {
    display: inline-block;
    padding: 2px 14px;
    border: #909399 1px solid;
    border-radius: 17px;
    font-size: 13px;
    margin-right: 7px;
}

.staff-box {
    padding: 0 15px;
}

.staff {
    position: relative;
    vertical-align:top;
    display: inline-block;
    min-width: 233px;
    min-height: 120px;
    width: 33.33%;
    padding: 10px 10px 10px 100px;
    box-sizing: border-box;
}

.avatar {
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
}

.avatar.four {
    border: 3px solid #8960ce;
}

.avatar.five {
    border: 3px solid #f0a94d;
}

.avatar.six {
    border: 3px solid #f0e028;
}

.name {
    position: absolute;
    left: 0;
    top: 100px;
    width: 80px;
    text-align: center;
}

.staff-tag {
    display: inline-block;
    border: #909399 1px solid;
    padding: 2px 12px;
    margin: 0 5px 5px 0;
}

.staff-tag.active {
    background: #c6e2ff;
}

.notice {
    font-size: 16px;
    padding-top: 15px;
    padding-left: 85px;
}

.show-more {
    position: absolute;
    right: 10px;
    top: 50%;
    color: #409eff;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 600px) {
    html, body {
        font-size: 12px;
    }
    .tag-group {
        padding-left: 65px;
    }
    .group-name {
        width: 50px;
        padding: 6px 0;
    }
    .tag {
        padding: 4px 8px;
        margin: 1px 6px 10px 0px;
    }
    .tag-label {
        font-size: 13px;
    }
    .label-tag {
        font-size: 11px;
    }
    .staff {
        width: 100%;
        padding: 10px 10px 10px 80px;
        min-height: 100px;
    }
    .avatar {
        width: 60px;
        height: 60px;
    }
    .name {
        top: 80px;
        width: 60px;
    }
    .notice {
        padding-left: 65px;
    }
}