<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="./ele/index.css"> -->
    <link rel="stylesheet" href="./css/index.css">
    <link rel="icon" href="./favicon-192x192.png" type="image/png">
    <title>桃花村驻罗德岛大使馆</title>
</head>

<body>
    <div id="main" class="hidden">
        <header></header>
        <section class="main-body">
            <div class="tag-box">
                <div class="tag-group" v-for="group in tagGroup">
                    <span class="group-name">{{group.group}}</span>
                    <span class="tag"  v-for="tag in group.tags" :class="tags.indexOf(tag) > -1 ? 'active' : ''" @click="check(tag)">{{tag}}</span>
                </div>
                <div class="tag-group">
                    <span class="group-name" style="background: #f56c6c" @click="refresh">重置</span>
                    <span class="tag checked" v-for="tag in tags">{{tag}}</span>
                </div>
            </div>
            <div>
                <div class="staff-group" v-for="(group, i) in filterStaff">
                    <div class="tag-label" :class="group.tagsGroup.length > 1 ? 'more' : ''">
                        <span>选择标签：</span>
                        <span class="label-tag" v-for="tag in group.tags">{{tag}}</span>
                        <span style="display: inline-block;">保底星级：{{group.star}}</span>
                        <span style="display: inline-block;">{{group.names}}</span>
                        <span v-if="group.tagsGroup.length > 1" class="show-more" :index="i">查看更多</span>
                        <div class="popover" v-show="group.show" :index="i">
                            以下tag组合均可招募出一样的干员，任选一组即可
                            <div v-for="tags in group.tagsGroup" class="tag-line">
                                <span v-for="t in tags" class="label-tag">{{t}}</span>
                            </div>
                        </div>
                        <div class="arrow" v-show="group.show"></div>
                    </div>
                    <div class="staff-box">
                        <div v-for="staff in group.staff" class="staff">
                            <img :src="staff.img" :alt="staff.name" class="avatar" :class="staff.star == 4 ? 'four' : staff.star == 5 ? 'five' : 'six'">
                            <span class="name">{{staff.name}}</span>
                            <div class="tags">
                                <span class="staff-tag" :class="group.tags.indexOf(tag) >= 0 ? 'active' : ''" v-for="tag in staff.tags">{{tag}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notice" v-show="tags.length > 0 && filterStaff.length == 0">
                <div>全是垃圾tag呢</div>
                <img src="./img/notice.jpg" alt="">
            </div>
        </section>
        <footer></footer>
    </div>
    <script src="./js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="./js/vue.min.js"></script>
    <!-- <script src="./ele/index.js"></script> -->
    <!-- <script src="./data/data.json" type="text/json"></script> -->
    <script>
        $(function() {
            var app = new Vue({
                el: '#main',
                data: {
                    loading: true,
                    tagGroup: [],
                    tags: [],
                    staff: [],
                    filterStaff: []
                },
                mounted() {
                    let that = this;
                    this.loadData();
                    $(document).ready(() => {
                        $('#main').removeClass('hidden');
                    });
                    $(document).bind('click', function (e) {
                        if ($(e.target).closest('.show-more').length == 0 && $(e.target).closest('.popover').length == 0) {
                            that.filterStaff = that.filterStaff.map(staff => {
                                staff.show = false;
                                return staff;
                            });
                        } else if ($(e.target).closest('.show-more').length > 0) {
                            let index = $(e.target).closest('.show-more').attr('index') || $(e.target).closest('.popover').attr('index') || 0;
                            that.filterStaff = that.filterStaff.map((staff, i) => {
                                let show = $(e.target).closest('.show-more').length > 0 ? !staff.show : true;
                                staff.show = index == i ? show : false;
                                return staff;
                            });
                        }
                    });
                },
                methods: {
                    loadData() {
                        let that = this;
                        $.ajax({
                            url: 'data/data.json?v=2',
                            success: data => {
                                that.tagGroup = data.tag;
                                that.staff = data.staff;
                                that.loading = false;
                            },
                            error: err => {
                                console.log('加载data.json失败');
                            }
                        });
                    },
                    check(tag) {
                        let index = this.tags.indexOf(tag);
                        if (index < 0) {
                            if (this.tags.length < 5) {
                                this.tags.push(tag);
                                this.findStaff();
                            }
                        } else {
                            this.tags.splice(index, 1);
                            this.findStaff();
                        }
                    },
                    findStaff() {
                        this.filterStaff = [];
                        let tempfilterStaff = [];
                        let tempName = [];
                        let tagCom = this.combination(this.tags);
                        for (let itemTagCom of tagCom) {
                            let filterStaff = this.staff.filter(item => {
                                if (itemTagCom.indexOf('高级资深干员') < 0 && item.star == 6) { // 如果没有高资tag，则不筛选6星
                                    return false;
                                }
                                let result = 0;
                                for (let tag of itemTagCom) {
                                    if (item.tags.indexOf(tag) < 0) {
                                        result ++;
                                    }
                                }
                                return result == 0;
                            });
                            let staffs = filterStaff.map(staff => {
                                return staff.name;
                            }).join(',');
                            if (filterStaff.length > 0 && filterStaff[0].star > 3) {
                                let index = tempName.indexOf(staffs);
                                if (index < 0) {
                                    tempName.push(staffs);
                                    tempfilterStaff.push({
                                        tags: itemTagCom,
                                        tagsGroup: [itemTagCom],
                                        star: filterStaff[0].star,
                                        staff: filterStaff,
                                        show: false,
                                    });
                                } else {
                                    tempfilterStaff[index].tagsGroup.push(itemTagCom);
                                }
                            }
                        }
                        tempfilterStaff.sort((a, b) => {
                            let sort = 0;
                            if (a.star > b.star) {
                                sort = -1;
                            } else if (a.star < b.star) {
                                sort = 1;
                            }else if (a.star == b.star && a.star > 4) { // 如果都是至少五星，则按照数量多少来排序
                                sort = a.staff.length - b.staff.length;
                            }
                            return sort;
                        });
                        this.filterStaff = tempfilterStaff;
                        console.log(this.filterStaff)
                    },
                    combination(tags) {
                        let max = tags.length > 3 ? 3 : tags.length;
                        let arr = [];
                        for (let i = 1; i <= max; i++) {
                            let result = this.listAll(tags, i)
                            arr = arr.concat(result);
                        }
                        return arr;
                    },
                    listAll(data, num) {
                        let tempData = data.slice();
                        if (num == 1) {
                            let result = data.map(item => {
                                return [item];
                            });
                            return result;
                        } else {
                            let result = data.map((item, index) => {
                                tempData = tempData.splice(1);
                                let arr = this.listAll(tempData, num - 1);
                                arr.map(i => {
                                    return i.unshift(item);
                                });
                                return arr;
                            });
                            // result = result.flat();
                            let arr = [];
                            for (let item of result) {
                                arr = arr.concat(item);
                            }
                            return arr;
                        }
                    },
                    refresh() {
                        this.tags = [];
                        this.filterStaff = [];
                    }
                },
                watch: {
                    //
                }
            });
        })
    </script>
</body>

</html>
